/* style.css */
html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#startScreen, #gameScreen {
    display: none;
    text-align: center;
}

#startScreen.active, #gameScreen.active {
    display: block;
}

button {
    background-color: #238636;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2ea043;
}

canvas {
    border: 1px solid #c9d1d9;
    margin-top: 20px;
    background-image: url(img.png);
    background-size: cover;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}

.hidden {
    display: none;
}
